body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #bcc0c6;
}

main {
  display: flex;
}

.red {
  display: flex;
  flex-direction: column;
  background-color: #fff8e3;
  flex: 2;
}

.orange {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.yellow {
  background-color: #feeab9;
  flex-grow: 1;
}

.green {
  background-color: #feeab9;
  flex-grow: 1;
}

.blue {
  flex-basis: 100%;
  background-color: #feeab9;
  margin-bottom: 25px;
}

aside {
  background-color: #ddeccb;
  flex: 1;
}

footer {
  background-color: #e0e0e0;
}

.indigo {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.violet {
  flex-grow: 1;
  background-color: #fafafa;
}

h3 {
  text-align: center;
  padding: 10px;
}
